.fcontainer{
    display:flex;
    flex-wrap:wrap;
}

.search{
    width: 100%;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder !important;
}

.searchbox {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff !important;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  .searchbox:focus {
    width: 100%;
  }
.searchbox1{
  margin: 20px;
}
.searchbox{
  margin: 10px;
  outline: none;
}
label{
  color:#ffffff;
}